/* Base : Fit : Objects : State: Theme */

/*  Base    */

* {
box-sizing: border-box;
border: 0;
font: inherit;
font-size: 100%;
line-height: 1.2em;
list-style-type: none;
margin: 0;
outline: 0;
padding: 0;
text-decoration: none;
vertical-align: baseline;
}

@font-face {
font-family: "Bernier Regular";
src: local("Bernier Regular"), local("BernierRegular-Regular"),
    url(/fonts/BERNIERRegular-Regular.otf) format("opentype"),
    url(/fonts/BERNIERRegular-Regular.ttf) format("ttf");
font-weight: 100 950;
}

@font-face {
font-family: "Bernier Shade";
src: local("Bernier Shade"), local("BernierShade-Regular"),
    url(/fonts/BERNIERShade-Regular.otf) format("opentype"),
    url(/fonts/BERNIERShade-Regular.ttf) format("ttf");
font-weight: 100 950;
}

/*  Fit  */

body {
display: grid;
grid-template-columns: 3fr 6fr 2fr;
grid-template-areas:
"banner  speech  images";
height: 100vh;
}

.fit-banner {
background-color: var(--washout, whitesmoke);
border-left: 0.25rem solid var(--shadows, grey);
color: var(--midtone silver);
font-family: var(--titles);
grid-area: banner;
padding-left: 1.0rem;
padding-right: 1.2rem;
}

.fit-gallery {
align-items: center;
background-color: var(--shadows, grey);
border-left: 1rem solid var(--washout, whitesmoke);
display: flex;
flex-direction: column;
grid-area: images;
min-width: 128px;
}

.fit-speech {
display: flex;
flex-direction: column;
grid-area: speech;
padding-left: 1.0rem;
padding-top: 0.9rem;
}

@media screen and (max-width: 1024px) {

body {
display: grid;
grid-template-columns: 5fr 1fr;
grid-template-areas:
"speech  images"
}

.fit-banner {
display: none;
}

}

main {
flex-grow: 1;
padding: 0.5rem;
}

nav ul {
display: flex;
flex-direction: row;
justify-content: flex-end;
}

/*  Objects  */

ul.obj-dialogue {
padding: 0.5em;
}

ul.obj-dialogue li {
animation-name: fadeinout;
animation-fill-mode: both;
list-style-type: none;
padding-bottom: 1.3em;
}

ul.obj-dialogue li:last-of-type {
animation-name: fadein;
}

.obj-persona {
font-family: var(--system);
font-size: 1.1rem;
font-weight: lighter;
margin: 0.25rem 0 0.25rem 0;
}

.obj-persona:after{
content: ":";
}

.obj-speech {
font-family: var(--detail);
font-size: 1.3rem;
}

.obj-entity + .obj-speech {
font-style: italic;
}

ul.obj-memory li {
font-size: 1.2rem;
padding: 0.5em;
margin: 0.5rem 0 0.5rem 0;
}


/*  State   */

@keyframes fadein {
0% {
opacity: 0;
}
12% {
opacity: 1;
}
100% {
opacity: 1;
}
}

@keyframes fadeinout {
0% {
opacity: 0;
}
12% {
opacity: 1;
}
82% {
opacity: 1;
}
100% {
opacity: 0.6;
}
}


/*  Theme   */

body {
border: 6rem solid var(--washout, whitesmoke);
color: var(--shadows, grey);
font-family: var(--detail);
}

h1, h2 {
letter-spacing: 0.125rem;
font-family: var(--titles);
font-size: 3rem;
margin: 1rem 0 1rem 1rem;
}

p {
padding-left: 1rem;
}

img {
padding: 0.35rem 0.7rem 0.35rem 0.7rem;
width: 100%;
}

li a{
color: var(--shadows, grey);
border: 1px solid var(--whiteout, whitesmoke);
font-weight: bolder;
font-size: 1.8rem;
padding: 0.5em;
margin: 0.5rem 0 0.5rem 0;
}

li a:hover {
border: 1px solid var(--shadows, grey);
color: var(--glamour, steelblue);
}


label {
color: var(--washout, whitesmoke);
font-family: var(--system);
font-size: 0.9rem;
font-weight: bolder;
letter-spacing: 0.025rem;
margin: 0.2rem;
padding-left: 0.6rem;
}

label:after {
content: ": ";
}

button {
border: 2px solid var(--washout, whitesmoke);
color: var(--shadows, grey);
letter-spacing: 0.125rem;
font-family: var(--blocks);
font-size: 1.6rem;
margin: 1rem;
min-width: 6rem;
padding: 0.6rem;
width: fit-content(15rem);
}

button:hover {
border: 2px solid var(--shadows, grey);
}

.fit-banner h1 {
color: var(--midtone, silver);
display: flex inline;
flex-direction: column;
font-size: 7rem;
}

.fit-banner h1 span:nth-child(4n+1)::first-letter {
color: var(--shadows, grey);
}

.fit-banner h1 span:nth-child(4n+2)::first-letter {
color: var(--hilight, powderblue);
}

.fit-banner h1 span:nth-child(4n+3)::first-letter {
color: var(--shadows, grey);
}

.fit-banner h1 span:nth-child(4n+4) {
color: var(--gravity, darkslategrey);
}

